<div id="audio-chat-container" class="video-position" style="display: none">
    <video id="local-video" autoplay="autoplay" muted="muted"></video>
    <video id="remote-video" autoplay="autoplay"></video>
    <button id="Disconnect" class="btn danger close">Disconnect</button>
</div>
<div id="loader" class="showLoader">

    <img src="../../../../assets/images/call-loader.gif">
    <p class="callingText">Calling ..............</p>
</div>
<div id="logo" class="showLogo">
    <img src="../../../../assets/images/logo.png" height="50%" width="50%" style="margin-top: 80px;margin-left: 350px;">
</div>