<div class="login">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-12">
            <div class="login-inner">
               <!-- FriendLinq Logo -->
               <div class="logo-icon">
                  <img src="assets/images/friendlinq_logo.png" alt="FriendLinq" style="width: 120px; height: 120px;">
               </div>
               
               <form [formGroup]="signupForm" autocomplete="off">
                  <h1>Create Your FriendLinq Account</h1>
                  
                  <div class="form-group">
                     <input type="text" placeholder="Enter your full name" name="name" formControlName="name" id="name" autocomplete="off">
                  </div>
                  
                  <div class="form-group">
                     <input type="email" placeholder="Enter your email" name="email" formControlName="email" id="email" autocomplete="off">
                  </div>
                  
                  <div class="form-group">
                     <input type="password" placeholder="Create a strong password" name="password" formControlName="password" id="password" autocomplete="new-password">
                  </div>
                  
                  <div class="form-group">
                     <input type="password" placeholder="Confirm your password" name="confirmpassword" formControlName="confirmpassword" id="confirmpassword" autocomplete="new-password">
                     <span *ngIf="passwordNotMatch" style="color: red; font-size: 14px;">Passwords do not match</span>
                  </div>
                  
                  <div class="form-group button-div">
                     <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid"
                        (click)="signup()">Next</button>
                  </div>
                  
                  <div class="extra-text">
                     <p>Already have an account? <span><a routerLink="/login">Login</a></span></p>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>